.infobox-subbox {
  padding: 0;
  border: none;
  margin: -3px;
  width: auto;
  min-width: 100%;
  font-size: 100%;
  clear: none;
  float: none;
  background-color: transparent;
}
.infobox-3cols-child {
  margin: auto;
}
.infobox .navbar {
  font-size: 100%;
}
body.skin-minerva .infobox-header,
body.skin-minerva .infobox-subheader,
body.skin-minerva .infobox-above,
body.skin-minerva .infobox-title,
body.skin-minerva .infobox-image,
body.skin-minerva .infobox-full-data,
body.skin-minerva .infobox-below {
  text-align: center;
}
