.infobox {
  border: 1px solid var(--info-box-border-color);
  border-spacing: 3px;
  border-radius: 20px;
  background-color: var(--info-box-bg-color);
  color: var(--info-box-color);
  margin: 0.5em 0 0.5em 1em;
  padding: 12px;
  float: right;
  clear: right;
  font-size: 88%;
  line-height: 1.5em;
  width: 22em;
}

.infobox-header,
.infobox-label,
.infobox-above,
.infobox-full-data,
.infobox-data,
.infobox-below,
.infobox-subheader,
.infobox-image,
.infobox-navbar,
.infobox th,
.infobox td {
  vertical-align: top;
}

.infobox-label,
.infobox-data,
.infobox th,
.infobox td {
  text-align: left;
}

.infobox .infobox-above,
.infobox .infobox-title,
.infobox caption {
  font-size: 125%;
  font-weight: bold;
  text-align: center;
}

.infobox-title,
.infobox caption {
  padding: 0.2em;
}

.infobox .infobox-header,
.infobox .infobox-subheader,
.infobox .infobox-image,
.infobox .infobox-full-data,
.infobox .infobox-below {
  text-align: center;
}

.infobox .infobox-navbar {
  text-align: right;
}
