.ai_overview {
  border-radius: 12px;
  background-color: var(--ai-overview-bg-color);
  color: var(--ai-overview-color);
  direction: ltr;
  display: flow-root;
  font-weight: 600;
  margin: 16px 0;
  position: relative;
  padding: 12px;
  width: auto;
}

.overview_disclaimer {
  color: var(--ai-overview-disclaimer-color);
  display: block;
  font-size: 0.7em;
  margin-bottom: 0;
  text-align: center;
}

.overview_content {
  display: block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
