.ai_sub_section {
  border-radius: 12px;
  background-color: var(--ai-section-bg-color);
  color: var(--ai-section-color);
  display: flex;
  font-weight: 600;
  margin: 16px 0;
  padding: 12px;
  width: fit-content;
}
