.ai_summary {
  border: 1px solid var(--info-box-border-color);
  border-radius: 8px;
  background-color: var(--info-box-bg-color);
  color: var(--info-box-color);
  display: flex;
  padding: 0 12px;
  margin: 16px 0;
}

.ai_summary > p {
  font-size: 1.1em;
}
