.ai_summary {
  border-radius: 8px;
  background-color: var(--ai-overview-bg-color);
  color: var(--ai-overview-color);
  display: flex;
  padding: 0 12px;
  margin: 16px 0;
}

.ai_summary > p {
  font-size: 1.1em;
}
