<html>

<head>
    <script type="module">import { injectIntoGlobalHook } from "http://localhost:5173/@react-refresh";
        injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => { };
        window.$RefreshSig$ = () => (type) => type;</script>
    <script type="module" src="http://localhost:5173/src/main.tsx"></script>

    <meta charset="UTF-8" />
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <link rel="icon" type="image/svg+xml" href="/assets/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
</head>

<body>
    <div id="root"></div>
</body>

</html>