:root {
  --ai-overview-bg-color: #21392e;
  --ai-overview-disclaimer-color: #681717;
  --ai-overview-color: #e1e1e1;
  --ai-section-bg-color: #ffabab;
  --ai-section-color: #000000;
  --am-box-bg-color: #fbfbfb;
  --am-box-border-color: #787878;
  --am-box-color: #000000;
  --body-bg-color: #ffffff;
  --body-color: #161616;
  --boss-nav-bg-color: #f9f9f7;
  --boss-nav-color: #051424;
  --boss-nav-hover-color: #e2e0e0;
  --boss-nav-link-color: #1a817d;
  --boss-slider-left-color: #1a817d;
  --boss-slider-right-color: #811a45;
  --boss-slider-thumb-color: #ffffff;
  --boss-slider-thumb-focus-shadow-color: #f1f0df;
  --boss-slider-thumb-shadow-color: #5c5c5c;
  --boss-slider-thumb-hover-color: #f1f0df;
  --box-shadow: #00000029;
  --caret: #000000;
  --code-bg-color: #fbfbfb;
  --code-border-color: #d8d9db;
  --code-color: #0c0c0c;
  --code-line-numbers-bg-color: #f0f0f0;
  --figure-bg-color: #ffffff;
  --figure-caption-bg-color: #fbfbfb;
  --figure-caption-border-color: #c8ccd1;
  --figure-frame-bg-color: #fbfbfb;
  --figure-frame-border-color: #c8ccd1;
  --header-color: #000000;
  --highlight: #1a817d;
  --info-box-bg-color: #fbfbfb;
  --info-box-border-color: #787878;
  --info-box-color: #000000;
  --link-color: #1d3f94;
  --link-color-visited: #561d94;
  --nav-box-bg1-color: #fbfbfb;
  --nav-box-bg2-color: #f7f7f7;
  --nav-box-border-color: #a2a9b1;
  --nav-box-group-bg-color: #ddddff;
  --nav-box-title-bg-color: #ccccff;
  --nav-box-subgroup-bg-color: #e6e6ff;
  --section-dropdown-color: #000000;
  --section-dropdown-bg-color: #f3f3f3;
  --section-dropdown-icon-color: #000000;
  --section-dropdown-icon-bg-color: #ffffff;
  --section-dropdown-icon-focus-color: #26c1bc;
  --section-dropdown-icon-hover-color: #f1f0df;
  --section-dropdown-icon-shadow-color: #000000;
  --section-slider-left-color: #57b97f;
  --section-slider-right-color: #585053;
  --section-slider-thumb-focus-shadow-color: #a7755e;
  --section-slider-thumb-shadow-color: #5c5c5c;
  --section-slider-thumb-color: #ffffff;
  --section-slider-thumb-hover-color: #f1f0df;
  --side-bar-bg-color: #fbfbfb;
  --side-bar-border-color: #787878;
  --side-bar-color: #000000;
  --side-bar-list-title-bg-color: #eaecf0;
  --portal-box-bg-color: #fbfbfb;
  --portal-box-border-color: #aaaaaa;
  --wikitable-bg-color: #f8f9fa;
  --wikitable-border-color: #a2a9b1;
  --wikitable-color: #0c0c0c;
  --wikitable-top-bg-color: #eaecf0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ai-overview-bg-color: #2b2b0e;
    --ai-overview-color: #e1e1e1;
    --ai-overview-disclaimer-color: #ba5c5c;
    --ai-section-bg-color: #21392e;
    --ai-section-color: #e1e1e1;
    --am-box-bg-color: #2e2e2e;
    --am-box-border-color: #8f8f8f;
    --am-box-color: #ffffff;
    --body-bg-color: #1f1f1f;
    --body-color: #ffffff;
    --boss-nav-bg-color: #282828;
    --boss-nav-color: #ffffff;
    --boss-nav-hover-color: #3f3f3f;
    --boss-nav-link-color: #26c1bc;
    --boss-slider-left-color: #61c6c3;
    --boss-slider-right-color: #fff9f9;
    --boss-slider-thumb-focus-shadow-color: #26c1bc;
    --boss-slider-thumb-shadow-color: #000000;
    --boss-slider-thumb-color: #ffffff;
    --boss-slider-thumb-hover-color: #dbdbdb;
    --box-shadow: #000000;
    --caret: #ffffff;
    --code-bg-color: #2e2e2e;
    --code-border-color: #474747;
    --code-color: #f3f3f3;
    --code-line-numbers-bg-color: #121212;
    --figure-bg-color: #ffffff;
    --figure-caption-bg-color: #2e2e2e;
    --figure-caption-border-color: #474747;
    --figure-frame-bg-color: #2e2e2e;
    --figure-frame-border-color: #474747;
    --header-color: #dddddd;
    --highlight: #26c1bc;
    --info-box-bg-color: #2e2e2e;
    --info-box-border-color: #8f8f8f;
    --info-box-color: #ffffff;
    --link-color: #1fc09d;
    --link-color-visited: #a149c7;
    --nav-box-bg1-color: #2e2e2e;
    --nav-box-bg2-color: #191919;
    --nav-box-border-color: #787878;
    --nav-box-title-bg-color: #595973;
    --nav-box-group-bg-color: #48485f;
    --nav-box-subgroup-bg-color: #3d3d52;
    --portal-box-bg-color: #2e2e2e;
    --portal-box-border-color: #474747;
    --section-dropdown-color: #e3e3e3;
    --section-dropdown-bg-color: #3f3f3f;
    --section-dropdown-icon-color: #000000;
    --section-dropdown-icon-bg-color: #d3d3d3;
    --section-dropdown-icon-focus-color: #26c1bc;
    --section-dropdown-icon-hover-color: #6f6f6f;
    --section-dropdown-icon-shadow-color: #000000;
    --section-slider-left-color: #61c6c3;
    --section-slider-right-color: #fff9f9;
    --section-slider-thumb-focus-shadow-color: #26c1bc;
    --section-slider-thumb-shadow-color: #000000;
    --section-slider-thumb-color: #ffffff;
    --section-slider-thumb-hover-color: #dbdbdb;
    --side-bar-bg-color: #2e2e2e;
    --side-bar-border-color: #8f8f8f;
    --side-bar-color: #ffffff;
    --side-bar-list-title-bg-color: #1f1f1f;
    --wikitable-bg-color: #2e2e2e;
    --wikitable-border-color: #787878;
    --wikitable-color: #f3f3f3;
    --wikitable-top-bg-color: #1f1f1f;
  }
}
